body, html {
    height: 100%;
    background-color:black;
    color: white;
}

.head {
  text-align:center;
  font-family:sans-serif;
  margin-top:80px;
}
  
header {
  background-color: black;
}



/* Nav bar */
.logo {
  width: 140px;
  height: 40px;
  margin-left: 6vw;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-bar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  float: right;
}
.nav-bar ul {
  list-style-type: none;
}
.nav-bar ul li {
  float: left;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 70px;
}

.nav-bar ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar ul li a:hover {
  background-color: #A4161A;
  color: #F695C5;
}

.burger-menu, .burger-menu-btn {
  display: none;
}



/* index page */
.parallax {
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
  
.first {
  display: flex;
  background-image: url('imgs/bg1.jpg');
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 20px;
}

.hometext1 {
  font-size: 60px;
}

.hometext2 {
  font-size: 40px;
}

.popname {
  color:white;
  text-shadow: 0 0 3px black;
  font-family:Gill Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.poprole {
  color:white;
  font-family:Courier New;
  text-shadow: 0 0 3px black;
  width: 650px;
  margin-bottom: 15dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  display: flex;
  background-image: url('imgs/bg2.jpg');
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popimg {
  width: 400px;
}

.resumetext {
  width: 370px;
  font-size:150%;
  font-family:Comic;
  color:white;
  text-shadow: 0 0 3px black;
  padding-left: 18px;
  padding-top: 10px;
  text-align:center;
}

.resume {
  font-size:25px;
  text-align:center;
  background-color:#6696a3E0;
  width:270px;
  font-family:Courier;
  border-radius:8px;
  border:2px solid black;
  margin-bottom: 20dvh;
}

.resume:hover {
  background-color:#005066;
}



/* About page */
.aboutmain {
  display:flex; 
  height: clamp(1rem, 75dvh, 50rem);
  justify-content: center;
  gap: 5vw;
  align-items: center; 
}

.aboutsecondary {
  flex-grow: 0.8;
  display: flex; 
  flex-direction: column; 
  width: max(35%, 26rem);
}

.abouttext1 {
  color:#80838D;
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: 'Georgia';
}

.abouttext2 {
  color:#FFF5EE;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}

.abouttext3 {
  margin-top:40px;
  font-size: clamp(0.8rem, 1.1vw, 1.3rem);
  color:#c2c2c2;
  font-family: 'Avantgarde';
}

.abouttext4 {
  font-size: clamp(0.8rem, 1.1vw, 1.3rem);
  color:#c2c2c2;
  font-family: 'Avantgarde';
}

.caroupic {
  flex-grow: 0.1;
  width: clamp(15rem, 25vw, 20rem); 
}



/* skills page */
.mainskill {
  display:flex; 
  height: clamp(1rem, 80dvh, 50rem);
  justify-content: center;
  gap: 2vw;
  align-items: center; 
  flex-direction: column;
}

.skilltitle {
  color:#80838D;
  font-family: 'Georgia';
  text-align:center;
  width: max(70%, 26rem);
}

.skillline {
  width: 70%;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
  margin-top: -2.5dvw;
}

.skillsecondary {
  padding-left:20px;
  padding-top:25px;
}

.btnName {
  font-size:20px;
  margin-right:10px;
  margin-left:10px;
}

.skillslist {
  display:flex;
  width: 55dvw;
  gap: 0vw;
  align-items: left; 
  flex-direction: column;
}

.skills1 {
  display:flex;
  width: 55dvw;
  gap: 1vw;
  align-items: left; 
  flex-wrap: wrap;
}

.skills2 {
  display:flex;
  width: 55dvw;
  gap: 1vw;
  align-items: left; 
  flex-wrap: wrap;
}

.skill {
  font-size:20px;
  color:white;
  background-color:#1b263d;
  width: 15rem;
  padding-top:12px;
  padding-bottom:12px;
  border-radius:10px;
}

.shimmyright {
  text-align: left;
  background-color:#ffffff00;
  padding-top:30px;
  padding-bottom:30px;
  width: clamp(200px, 20dvw, 400px);
}
.shimmyright:hover {
  float: right;
  text-align:right;
  background-color:#ffffff20;
}
.btn-secondary {
  --bs-btn-active-bg: #ffffff30;
}


/* Experience page */
.experiencemain {
  display:flex; 
  height: clamp(1rem, 80dvh, 50rem);
  justify-content: center;
  gap: 2vw;
  align-items: center; 
  flex-direction: column;
  margin-bottom: 50px;
}

.expline {
  width: 70%;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
  margin-top: -2.5dvw;
}

.experiencelabel {
  text-align:center;
  color:#80838D;
  font-family: 'Georgia';
  width: max(70%, 26rem);
}

.experiencesecondary {
  display:flex; 
  justify-content: center;
  align-items: center; 
  height: 15rem;
  width: 70%;
  gap: 3vw;
}

.experiencetertiary1 {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 14rem;
  flex-shrink: 0;
}

.experiencetertiary2 {
  display:flex; 
  flex-direction: column;
  gap: 0px;
  width: 50rem;
}

.expimg {
  width:150px;
}

.exptext1 {
  color:#FFFFFFC8;
}

.exptext2 {
  color:#FFFFFF80;
}

.exptext3 {
  color:#FFFFFFEE;
}

.exptext4 {
  color:#FFFFFFCC;
}


/* projects page */
.projectsmain {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 80dvh;
  background-color:#191c27;
  text-align:center;
  width:90%;
  margin:auto;
  margin-top:20px;
  padding-top:30px;
}

.projectsline {
  width: 70%;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
  
}

.projectssecondary {
  border-radius: 50px;
  text-align:center;
  height:80dvh;
  width: 70dvw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 500px;
  width: 330px;
  background-color: #d1d0c3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 10px;
  margin-left:20px;
  padding:10px;
}

.projectcmgsoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 500px;
  width: 330px;
  background-color: grey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 10px;
  margin-left:20px;
}

.project:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-top: 0px;
}
.projectcmgsoon:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-top: 0px;
}

.projimg {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 6px;
}

.projectlogos {
  display: flex;
  margin-left:15px;
  margin-top:15px;
}

.projtitle {
  color: black;
  text-align: left;
  margin-left:15px;
}

.projtitlecmgsoon {
  color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projdescription {
  color: black;
  font-family: 'Gill Sans';
  text-align: left;
}


/* contact page */
.contactsmain {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 80dvh;
  background-color:#191c27;
  text-align:center;
  width:90%;
  margin:auto;
  margin-top:20px;
  padding-top:30px;
}

.contactsecondary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 45dvh;
  margin-top: -20px;
}

.contactphone, .contactemail, .contactig, .contactlink {
  width: clamp(300px, 40dvw, 40dvw);
}

.contline {
  width: 70%;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
}

/* footer */
.iglogo {
  width:30px;
  height:30px;
  margin-right:10px;
}

.linkedinlogo {
  width:30px;
  height:30px;
}

.credits {
  font-size:15px;
  padding-top:20px;
}

footer {
  display:flex;
  justify-content: space-evenly;
  gap: 5vw;
  align-items: center; 
  flex-wrap: wrap;
  padding-top: 20px;
}


  /* Turn off parallax scrolling for tablets and phones and settle home page */
  @media only screen and (max-width: 1000px) {
    .poprole {
      width: 75dvw;
    }
    .contactsmain {
      height: 120dvh;
    }

    .projectsmain {
      height: 150dvh;
    }

    .project:hover {
      margin-bottom: 10px;
    }
  }
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
    
    .popimg {
      width: 60dvw;
    }
    .hometext1 {
      font-size: 8dvw;
    }
    
    .hometext2 {
      font-size: 6dvw;
    }

    .resumetext {
      font-size:100%;
      width: 60dvw;
    }
    
    .resume {
      font-size:20px;
      width:220px;
    }
  }

  /* to modify the nav bar */
  @media only screen and (max-width: 1152px) {
    .nav-bar {
      display: none;
    }
    .burger-menu-btn {
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(imgs/menubar.png), url(imgs/cancel.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center, center left 50px;
      margin-top: 15px;
      margin-right: 20px;
      float: right;
    }
    
    .burger-menu {
      display: none;
      position: fixed;
      width: 100%;
      height: 100dvh;
      z-index: 900;
      background-color:#111;
    }

    .burger-menu ul {
      width: 100%;
      height: calc(100vh - 60px);
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      list-style-type: none;
    }

    .burger-menu ul li {
      flex-basis: 100%;
      border-top: 2px solid black;
    }

    .burger-menu ul li:last-child {
      flex-basis: 100%;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }

    .burger-menu ul li a {
      display: block;
      height: 100%;
      font-size: 3rem;
      padding: 30px 0;
      flex-basis: 100%;
      text-align: center;
      text-decoration: none;
      color: white;
    }

    .burger-menu ul li a:hover {
      background-color: #A4161A;
      color: #F695C5;
    }
  }

  /* to modify the footer + about + experiences for mobile*/
  @media only screen and (max-width: 690px) {
         
          .aboutmain {
            flex-wrap: wrap;
            height: 130dvh;
          }

          footer {
            padding-top: 10px;
            padding-bottom: 10px;
          }

          
  }

  /* modify skills */
  @media only screen and (max-width: 1000px) {
    .skillslist {
      width: 58dvw;
    }
    
    .skills1 {
      width: 58dvw;
    }
    .skills2 {
      width: 58dvw;
    }
  }
  @media only screen and (max-width: 800px) {
    .skillslist {
      width: 45dvw;
    }
    
    .skills1 {
      width: 45dvw;
    }
    .skills2 {
      width: 45dvw;
    }
  }
  @media only screen and (max-width: 600px) {
    .skillslist {
      width: 55dvw;
    }
    
    .skills1 {
      width: 55dvw;
    }
    .skills2 {
      width: 55dvw;
    }

    .btnName {
      display: none;
    }
    .shimmyright {
      width: 70px;
    }
  }
 

  /* to modify the experiences*/
  @media only screen and (max-width: 1091px) {
    .experiencesecondary {
      flex-wrap: wrap;
      height: 50dvh;
    }

    .experiencemain {
      height: 120dvh;
    }
    .experiencetertiary21 {
      margin-top: -95px;
    }
  }
  @media only screen and (max-width: 687px) {
    .experiencesecondary {
      height: 60dvh;
    }
    
    .experiencemain {
      height: 140dvh;
    }
  }
  @media only screen and (max-width: 393px) {
    .experiencesecondary {
      height: 80dvh;
    }
    .experiencemain {
      height: 190dvh;
    }
  }